@import 'photon.css';

input[type='number'] {
    -moz-appearance: textfield;
}

.doLeading {
    line-height: 180%;
}

.warning {
    font-size: 75%;
    height: 20px;
    background-color: var(--yellow-50);
    display: none; /*none or initial*/
    padding: 6px 2px 3px 2px;
}

.warning::before {
    content: url('icons/photon/warning-16.svg');
    position: relative;
    margin: 0px 2px 0px 2px;
    top: 2px;
}

#bgcolorPicker {
    height: 24px;
    position: relative;
    top: 4px;
}

#imgLocalBgSpinner {
    height: 25px;
    position: relative;
    top: 7px;
    display: none; /*none or initial*/
}

#controlButtons {
    margin-top: 3px;
    margin-left: 2px;
}
