@import 'folder-form.css';

body {
    background-color: var(--grey-10);
}

label.description {
    font-size: 13px;
}

#structureManagingForm input[type="button"] {
    width: 250px;
}

#setJsonStructureBtn {
    display: none;
}

#historyPermissionStatusLabel,
#tabHidePermissionStatusLabel {
    font-style: bold;
    margin-left: 8px;
}

#historyPermissionStatusLabel[tag="enabled"],
#tabHidePermissionStatusLabel[tag="enabled"] {
    color: darkgreen;
}

#historyPermissionStatusLabel[tag="disabled"],
#tabHidePermissionStatusLabel[tag="disabled"] {
    color: darkred;
}
