@import 'photon-colors.css';

input {
    border: 1px solid var(--grey-90-a30);
    border-radius: 2px;
}

input:disabled {
    opacity: 0.4;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: var(--blue-60);
    background-size: 16px;
    border: none;
}

input[type="radio"]:checked {
    background-image: url("icons/photon/radio-16.svg");
}

input[type="checkbox"]:checked {
    background-image: url("icons/photon/checkbox-check-16.svg");
}

input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
    background-color: var(--grey-90-a10);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 4px;
    font-size: 14px;
    height: 16px;
    margin-right: 4px;
    width: 16px;
}

input[type="radio"] {
    border-radius: 100%;
    position: relative;
    top: 2px;
}

input[type="checkbox"] {
    position: relative;
    top: 5px;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    background-color: var(--grey-90-a20);
}

input[type="radio"]:hover:active,
input[type="checkbox"]:hover:active {
    background-color: var(--grey-90-a30);
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    border: 0;
    box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

input[type="radio"]:checked:hover,
input[type="checkbox"]:checked:hover {
    background-color: var(--blue-70);
}

input[type="radio"]:checked:hover:active,
input[type="checkbox"]:checked:hover:active {
    background-color: var(--blue-80);
}

input[type="text"],
input[type="url"],
input[type="number"] {
    padding-left: 8px;
    height: 26px;
}

input[type="text"]:hover,
input[type="url"]:hover,
input[type="number"]:hover {
    border-color: var(--grey-90-a50);
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus {
    border-color: var(--blue-50);
    box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

input[type="text"]::-moz-selection,
input[type="url"]::-moz-selection,
input[type="number"]::-moz-selection {
    background: var(--blue-50-a30);
}

input[type="submit"],
input[type="button"],
input[type="color"],
input[type="file"] button {
    background-color: var(--grey-90-a10);
    height: 24px;
    padding: 0px 8px 0px 8px;
    width: auto;
    min-width: 132px;
}

input[type="submit"] {
    background-color: var(--blue-60);
    color: var(--white-100);
}

input[type="submit"]:hover {
    background-color: var(--blue-70);    
}

input[type="button"]:hover,
input[type="color"]:hover,
input[type="file"] button:hover {
    background-color: var(--grey-90-a20);
}

input[type="submit"]:pressed {
    background-color: var(--blue-80);    
}

input[type="button"]:pressed,
input[type="color"]:pressed,
input[type="file"] button:pressed {
    background-color: var(--grey-90-a30);
}

input[type="submit"]:focus,
input[type="button"]:focus,
input[type="color"]:focus,
input[type="file"] button:focus {
    box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}
