:root {
    --defColor: #FAFAF9;
    --borderSize: 8px;
    --inlineSpacing: 4px;
    --iconSize: 16px;
    --codeFontSize: 0px;
    --fieldsetBlurValue: 5px;
}

.fullscreenElement {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#background {
    
}

#grid {
    width: calc(100vw);
    height: calc(100vh);
}

td {
    position: relative;
}

#curtain {
    background-color: rgba(0, 0, 0, .5);
    display: none; /*none or flex*/
    justify-content: center;
}

#assignmentFormContainer {
    position: absolute;
    width: 800px;
    top: 50vh;
    transform: translateY(-50%);
    background-color: var(--defColor);
    padding: 20px;
    border-radius: var(--borderSize);
    animation-name: unbluring;
    animation-duration: 0.5s;
}

@keyframes bluring {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(var(--fieldsetBlurValue));
    }
}

@keyframes unbluring {
    from {
        filter: blur(var(--fieldsetBlurValue));
    }
    to {
        filter: blur(0px);
    }
}

#assignmentFormContainer fieldset:disabled {
    animation-name: bluring;
    animation-duration: 0.25s;
    filter: blur(var(--fieldsetBlurValue));
}

#assignmentFormContainer fieldset {
    animation-name: unbluring;
    animation-duration: 0.25s;
    filter: blur(0px);
}

.element {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(120, 120, 120, .2);
    /*http://dabblet.com/gist/2775781*/
    background-clip: padding-box;
    border: var(--borderSize) solid rgba(170, 170, 170, .3);
    border-top-width: calc(var(--borderSize) * 4);
    border-radius: var(--borderSize);
    box-shadow: 0 0 1px rgba(255, 255, 255, .8),
    0 0 3px rgba(0, 0, 0, .8),
    1px 1px 0 rgba(0, 0, 0, .8) inset,
    -1px -1px 0 rgba(0, 0, 0, .8) inset;
    padding: 1px;
}

.element:hover {
    background-color: rgba(220, 220, 220, .35);
    border-color: rgba(255, 255, 255, .5);
}

.element .elementCaption {
    color: black;
    text-shadow: 0px 0px 5px white;
}

.elementHeader {
    position: absolute;
    top: calc(var(--borderSize) * (-3.5));
    right: 0px;
    left: 0px;
    height: calc(var(--borderSize) * 3);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.elementHeader img {
    width: var(--iconSize);
    height: var(--iconSize);
}

.elementCaption {
    display: inline-block;
    width: calc(100% - var(--iconSize) - 4px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 4px 0px 4px;
}

.element:hover .elementCaption {
    width: calc(100% - (var(--iconSize) + var(--inlineSpacing)) * 4 - 4px * 2);
}

.elementButton {
    display: none;
    margin-left: var(--inlineSpacing);
    filter: grayscale(0.75);
}

.elementButton:hover {
    filter: grayscale(0);
}

.element:hover .elementButton {
    display: inline-block;
}

.elementMiniature {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

.elementCode {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: var(--codeFontSize);
    font-weight: 900;
    text-shadow: 0px 0px 3px rgba(250,250,249,0.75);
    color: transparent;
}

.element:hover .elementCode {
    background-color: transparent;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.1);
}
