@import 'photon-colors.css';

@font-face {
    font-family: 'Fira Sans Regular';
    src: url('fonts/FiraSans-Regular.ttf');
}

:root {
    --backgroundColor: ; /*white-100 / grey-60*/
    --hoverColor: ; /*grey-90-a05 / #5c5c61*/
    --textColor: ; /*grey-90 / grey-10*/
    --imgFilter: ; /*none / invert(100%)*/
}

.vertical-menu {
    width: 300px;
}

.vertical-menu-element {
    background-color: var(--backgroundColor);
    font-size: 11px;
    color: var(--textColor);
    display: block;
    padding: 6px;
    text-decoration: none;
    cursor: default;
}

.vertical-menu-element:hover {
    background-color: var(--hoverColor);
}

.vertical-menu-element img {
	margin: 0px 8px 0px 8px;
	vertical-align: middle;
	width: 20px;
    filter: var(--imgFilter);
}
