@import 'photon-colors.css';

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.ttf');
}

.hasTooltip {
    position: relative;
    display: inline-block;
}

.hasTooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.hasTooltip:hover .tooltipTtext {
    visibility: visible;
}
